<div class="footer_sline">
    <div class="footer_s">
        <div class="copy">
            <div style="background: url({$config[thumb]}) no-repeat left 50%">
                <p class="first">版权所有&nbsp;&copy;&nbsp;{$config[copyright]}&nbsp;&nbsp;&nbsp;{$config[beian]}&nbsp;
                    &nbsp;<a target="_blank" href="#" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/statics/jiangong/images/beian.png" style=" vertical-align:middle;"/>&nbsp;{$config[gongan]}&nbsp;</a>
                </p>
                <p>电话:&nbsp;{$config[tel]}&nbsp;&nbsp;&nbsp;传真:&nbsp;{$config[fax]}&nbsp;&nbsp;&nbsp;E-mail:<a href="{$config[email]}">{$config[email]}</a></p>
                <p>地址:&nbsp;{$config[addr]}&nbsp;&nbsp;&nbsp;邮编:&nbsp;{$config[code]}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>