{template "content","head"}

{php $banner = getads(11)}
<div class="bigPicbox">
    <div class="slider">
        {loop $banner[d] $r}
        <div style="background-image:url({$r[imageurl]});"></div>
        {/loop}
    </div>
    <div id="arrow">
        <div class="inner" style="width:1200px; height:410px;">
            <div id="pager"></div>
            <div id="prevnext">
                <a href="javascript:void(0);" id="prev"><img src="/statics/jiangong/images/prev.png"></a>
                <a href="javascript:void(0);" id="next"><img src="/statics/jiangong/images/next.png"></a>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="scrollnews">
        <div class="inner">
            <p class="left"><a href="article_cat.php-id=70.htm"><b>集团公告</b></a></p>
            <div class="news_wrap left">
                <ul class="news_list">
                    {pc:content action="position" posid="18" order="listorder ASC" num="6"}
                    {loop $data $key $val}
                    <li><a href="{$val['url']}" title="{$val['title']}">{$val['title']}</a><span>{date("Y-m-d",$val[inputtime])}</span>
                    </li>
                    {/loop}
                </ul>
                <div class="arrow">
                    <a href="javascript:void(0);" class="aleft"><img src="/statics/jiangong/images/iconup.png"></a>
                    <a href="javascript:void(0);" class="aright"><img src="/statics/jiangong/images/icondown.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="tiao inner">
        {php $banner = getads(12)}
        <img src="{$banner[d][0][imageurl]}"/>
    </div>
    {pc:content action="position" posid="18" order="listorder ASC" num="5"}
    <div class="hotnews inner">
        <div class="focusPic left">
            <div class="picnews">
                <ul class="pic">
                    {loop $data $key $val}
                    <li><img src="{$val[thumb]}"></li>
                    {/loop}
                </ul>
                <div class="txt-bg"></div>
                <div class="txt">
                    <ul>
                        {loop $data $key $val}
                        <li><a href="{$val[url]}">{$val[title]}</a></li>
                        {/loop}
                    </ul>
                </div>
                <ul class="num">
                    {php $i=1}
                    {loop $data $key $val}
                    <li><a>{$i}</a><span></span></li>
                    {php $i++}
                    {/loop}

                </ul>
            </div>
        </div>
        <div class="innews right">
            <div class="innews_tit"><h3 class="left"><a href="{$CATEGORYS[159][url]}">{$CATEGORYS[159][catname]}</a></h3>
                <p class="right"><a href="{$CATEGORYS[159][url]}">更多</a></p></div>
            <ul class="innews_list">
                {pc:content action="lists" catid="159" num="1" order="listorder ASC,inputtime desc" page="$page"}
                {php $i=0}
                {loop $data $r}
                {if $i==0}
                <li class="first">
                    <h3><a href="{$r[url]}" title=" {$r[title]}">{$r[title]}</a></h3>
                    <p>{$r[description]}</p>
                </li>
                {/if}
                {php $i++}
                {/loop}

                {pc:content action="lists" catid="159" num="7" order="listorder ASC,inputtime desc" page="$page"}
                {php $i=0}
                {if $i>0}
                {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a><span>({date("m-d",$val[inputtime])})</span></li>
                {/if}
                {php $i++}
                {/loop}

            </ul>
        </div>
    </div>
    <div class="midads1 inner">
        <div class="midads1_pannel left">
            {php $banner = getads(13)}

            <a href="" target="_blank">  <img src="{$banner[d][0][imageurl]}"/></a>
        </div>
        <div class="midads1_search right">
            <form action="http://www.hbjgjt.cn/search.php" method="post">
                <input type="text" class="txt left" name="keywords" value="热搜：党的群众路线教育实践活动"
                       onfocus="if(this.value=='热搜：党的群众路线教育实践活动'){this.value='';}"
                       onblur="if(this.value==''){this.value='热搜：党的群众路线教育实践活动';}"><input type="submit" value=" "
                                                                                         class="btn right">
            </form>
        </div>
    </div>
    <div class="colcon1 inner">
        <div class="pannel01 left">
            <div class="pub_tit">
                <ul class="channel" id="tab1">
                    <li><a href="javascript:void(0);" class="now">{$CATEGORYS[162][catname]}</a></li>
                    <li><a href="javascript:void(0);">{$CATEGORYS[163][catname]}</a></li>
                </ul>
                <ul class="pub_more" id="tab1_more">
                    <li><a href="{$CATEGORYS[162][url]}">更多</a></li>
                    <li style="display:none;"><a href="{$CATEGORYS[163][url]}">更多</a></li>
                </ul>
            </div>

            <div class="block_one">
                <ul class="listcon">
                    {pc:content action="lists" catid="162" num="8" order="listorder ASC,inputtime desc" page="$page"}
                    {loop $data $r}
                    <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                    {/loop}
                </ul>
            </div>

            <div class="block_one" style="display:none;">
                <ul class="listcon">
                    {pc:content action="lists" catid="163" num="8" order="listorder ASC,inputtime desc" page="$page"}
                    {loop $data $r}
                    <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                    {/loop}
                </ul>
            </div>
        </div>

        <div class="pannel01 pannelmar left">
            <div class="pub_tit">
                <ul class="channel channel2" id="tab2">
                    <li><a href="javascript:void(0);" class="now">{$CATEGORYS[164][catname]}</a></li>
                    <li><a href="javascript:void(0);">{$CATEGORYS[165][catname]}</a></li>
                    <li><a href="javascript:void(0);">{$CATEGORYS[166][catname]}</a></li>
                </ul>
                <ul class="pub_more" id="tab2_more">
                    <li><a href="{$CATEGORYS[164][url]}">更多</a></li>
                    <li style="display:none;"><a href="{$CATEGORYS[165][url]}">更多</a></li>
                    <li style="display:none;"><a href="{$CATEGORYS[166][url]}">更多</a></li>
                </ul>
            </div>

            <div class="block_two">
                <ul class="listcon">
                    {pc:content action="lists" catid="164" num="8" order="listorder ASC,inputtime desc" page="$page"}
                    {loop $data $r}
                    <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                    {/loop}
                </ul>
            </div>

            <div class="block_two" style="display:none;">
                <ul class="listcon">
                    {pc:content action="lists" catid="165" num="8" order="listorder ASC,inputtime desc" page="$page"}
                    {loop $data $r}
                    <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                    {/loop}
                </ul>
            </div>

            <div class="block_two" style="display:none;">
                <ul class="listcon">
                    {pc:content action="lists" catid="166" num="8" order="listorder ASC,inputtime desc" page="$page"}
                    {loop $data $r}
                    <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                    {/loop}
                </ul>
            </div>

        </div>

        <div class="pannel02 right">
            <div class="channel3">
                <h3 class="h31"><a href="{$CATEGORYS[210][url]}">{$CATEGORYS[210][catname]}</a></h3>
                <p><a href="{$CATEGORYS[210][url]}">更多</a></p>
            </div>
            {pc:content action="lists" catid="210" num="1" order="listorder ASC,inputtime desc" page="$page"}
            {loop $data $r}
            <div class="videoimg">
                <a href="javascript:void(0);" id="play_btn"><img src="{$r[thumb]}"></a>
            </div>
            <div class="videotit"><a href="">{$r[title]}</a></div>
            {/loop}
        </div>

    </div>
    <div class="hr"></div>
    <div class="colcon2 inner">
        <div class="pannel01 left">
            <div class="pub_tit">
                <ul class="channel" id="tab3">
                    <li><a href="javascript:void(0);" class="now">{$CATEGORYS[167][catname]}</a></li>
                    <li><a href="javascript:void(0);">{$CATEGORYS[168][catname]}</a></li>
                </ul>
                <ul class="pub_more" id="tab3_more">
                    <li><a href="{$CATEGORYS[167][url]}">更多</a></li>
                    <li style="display:none;"><a href="{$CATEGORYS[168][url]}">更多</a></li>
                </ul>
            </div>

            <div class="block_three">
                <ul class="listcon">
                    {pc:content action="lists" catid="167" num="8" order="listorder ASC,inputtime desc" page="$page"}
                    {loop $data $r}
                    <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                    {/loop}
                </ul>
            </div>

            <div class="block_three" style="display:none;">
                <ul class="listcon">
                    {pc:content action="lists" catid="168" num="8" order="listorder ASC,inputtime desc" page="$page"}
                    {loop $data $r}
                    <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                    {/loop}
                </ul>
            </div>
        </div>

        <div class="pannel01 pannelmar left">
            <div class="pub_tit">
                <ul class="channel channel2" id="tab4">
                    <li><a href="javascript:void(0);" class="now">{$CATEGORYS[169][catname]}</a></li>
                    <li><a href="javascript:void(0);">{$CATEGORYS[170][catname]}</a></li>
                    <li><a href="javascript:void(0);">{$CATEGORYS[171][catname]}</a></li>
                </ul>
                <ul class="pub_more" id="tab4_more">
                    <li><a href="{$CATEGORYS[169][url]}">更多</a></li>
                    <li style="display:none;"><a href="{$CATEGORYS[170][url]}">更多</a></li>
                    <li style="display:none;"><a href="{$CATEGORYS[171][url]}">更多</a></li>
                </ul>
            </div>

            <div class="block_four">
                <ul class="listcon">
                    {pc:content action="lists" catid="169" num="8" order="listorder ASC,inputtime desc" page="$page"}
                    {loop $data $r}
                    <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                    {/loop}
                </ul>
            </div>

            <div class="block_four" style="display:none;">
                <ul class="listcon">
                    {pc:content action="lists" catid="170" num="8" order="listorder ASC,inputtime desc" page="$page"}
                    {loop $data $r}
                    <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                    {/loop}
                </ul>
            </div>

            <div class="block_four" style="display:none;">
                <ul class="listcon">
                    {pc:content action="lists" catid="171" num="8" order="listorder ASC,inputtime desc" page="$page"}
                    {loop $data $r}
                    <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                    {/loop}
                </ul>
            </div>
        </div>

        <div class="pannel02 right">
            <div class="channel3 channel33">
                <h3 class="h32"><a href="{$CATEGORYS[196][url]}">{$CATEGORYS[196][catname]}</a></h3>
                <p><a href="{$CATEGORYS[196][url]}">更多</a></p>
            </div>
            <ul class="bidlist">
                {pc:content action="lists" catid="196" num="8" order="listorder ASC,inputtime desc" page="$page"}
                {loop $data $r}
                <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                {/loop}
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="midads2 inner">
        <a href="" target="_blank">
            {php $banner = getads(14)}

             <img src="{$banner[d][0][imageurl]}"/>

        </a>
    </div>
    <div class="colcon3 inner">
        <div class="colconL left">
            <div class="colconLT">

                <div class="pannel01 left">
                    <div class="colconL_tit">
                        <ul class="channel4" id="tab5">
                            <li><a href="javascript:void(0);" class="now">{$CATEGORYS[172][catname]}</a></li>
                            <li><a href="javascript:void(0);">{$CATEGORYS[173][catname]}</a></li>
                        </ul>
                        <ul class="pub_more" id="tab5_more">
                            <li><a href="{$CATEGORYS[172][url]}">更多</a></li>
                            <li style="display:none;"><a href="{$CATEGORYS[173][url]}">更多</a></li>
                        </ul>
                    </div>
                    <div class="block_five">
                        <ul class="listcon listcon_zc">
                            {pc:content action="lists" catid="172" num="8" order="listorder ASC,inputtime desc" page="$page"}
                            {loop $data $r}
                            <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                            {/loop}
                        </ul>
                    </div>
                    <div class="block_five" style="display:none;">
                        <ul class="listcon listcon_zc">
                            {pc:content action="lists" catid="173" num="8" order="listorder ASC,inputtime desc" page="$page"}
                            {loop $data $r}
                            <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>


                <div class="pannel01 right">
                    <div class="colconL_tit">
                        <ul class="channel4" id="tab6">
                            <li><a href="javascript:void(0);" class="now">{$CATEGORYS[174][catname]}</a></li>
                            <li><a href="javascript:void(0);">{$CATEGORYS[175][catname]}</a></li>
                            <li><a href="javascript:void(0);">{$CATEGORYS[176][catname]}</a></li>
                        </ul>
                        <ul class="pub_more" id="tab6_more">
                            <li><a href="{$CATEGORYS[174][url]}">更多</a></li>
                            <li style="display:none;"><a href="{$CATEGORYS[175][url]}">更多</a></li>
                            <li style="display:none;"><a href="{$CATEGORYS[176][url]}">更多</a></li>
                        </ul>
                    </div>
                    <div class="block_six">
                        <ul class="listcon listcon_zc">
                            {pc:content action="lists" catid="174" num="8" order="listorder ASC,inputtime desc" page="$page"}
                            {loop $data $r}
                            <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                            {/loop}
                        </ul>
                    </div>
                    <div class="block_six" style="display:none;">
                        <ul class="listcon listcon_zc">
                            {pc:content action="lists" catid="175" num="8" order="listorder ASC,inputtime desc" page="$page"}
                            {loop $data $r}
                            <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                            {/loop}
                        </ul>
                    </div>
                    <div class="block_six" style="display:none;">
                        <ul class="listcon listcon_zc">
                            {pc:content action="lists" catid="176" num="8" order="listorder ASC,inputtime desc" page="$page"}
                            {loop $data $r}
                            <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="colconLB">

                <div class="pannel01 left">
                    <div class="colconL_tit">
                        <ul class="channel4" id="tab7">
                            <li><a href="javascript:void(0);" class="now">{$CATEGORYS[177][catname]}</a></li>
                            <li><a href="javascript:void(0);">{$CATEGORYS[178][catname]}</a></li>
                        </ul>
                        <ul class="pub_more" id="tab7_more">
                            <li><a href="{$CATEGORYS[177][url]}">更多</a></li>
                            <li style="display:none;"><a href="{$CATEGORYS[178][url]}">更多</a></li>
                        </ul>
                    </div>
                    <div class="block_seven lt_bg">
                        <ul class="listcon listcon_zc">
                            {pc:content action="lists" catid="177" num="8" order="listorder ASC,inputtime desc" page="$page"}
                            {loop $data $r}
                            <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                            {/loop}
                        </ul>
                    </div>
                    <div class="block_seven lt_bg" style="display:none;">
                        <ul class="listcon listcon_zc">
                            {pc:content action="lists" catid="178" num="8" order="listorder ASC,inputtime desc" page="$page"}
                            {loop $data $r}
                            <li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>


                <div class="pannel01 right">
                    <div class="colconL_tit">
                        <ul class="channel4" id="tab8">
                            <li><a href="javascript:void(0);" class="now">{$CATEGORYS[183][catname]}</a></li>
                            <li><a href="javascript:void(0);">{$CATEGORYS[184][catname]}</a></li>
                        </ul>
                        <ul class="pub_more" id="tab8_more">
                            <li><a href="{$CATEGORYS[183][url]}">更多</a></li>
                            <li style="display:none;"><a href="{$CATEGORYS[184][url]}">更多</a></li>
                        </ul>
                    </div>

                    <div class="block_eight">
                        <div class="imgcollect">
                            <div class="imgcollect_slider">
                                {pc:content action="lists" catid="183" num="8" order="listorder ASC,inputtime desc" page="$page"}
                                {loop $data $r}
                                <div>
                                    <a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}" alt="">{$r[title]}</a>
                                </div>
                                {/loop}
                            </div>
                            <div id="leftright">
                                <a href="javascript:void(0);" id="left"><img src="/statics/jiangong/images/arrowleft.png"></a>
                                <a href="javascript:void(0);" id="right"><img src="/statics/jiangong/images/arrowright.png"></a>
                            </div>
                        </div>
                    </div>

                    <div class="block_eight" style="display:none;">
                        <div class="imgcollect">
                            <div class="imgcollect_slider1">
                                {pc:content action="lists" catid="184" num="8" order="listorder ASC,inputtime desc" page="$page"}
                                {loop $data $r}
                                <div>
                                    <a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}" alt="">{$r[title]}</a>
                                </div>
                                {/loop}
                            </div>
                            <div id="leftright">
                                <a href="javascript:void(0);" id="left"><img src="/statics/jiangong/images/arrowleft.png"></a>
                                <a href="javascript:void(0);" id="right"><img src="/statics/jiangong/images/arrowright.png"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="colconR right">
            <ul class="zt_list">
                <li class="first"><a href="javascript:"><img src="/statics/jiangong/images/zt_list1.jpg"></a></li>
                <li><a href="javascript:" target="_blank"><img src="/statics/jiangong/images/1481933871225514433.jpg"></a></li>
                <li><a href="javascript:" target="_blank"><img src="/statics/jiangong/images/1481933894504247021.jpg"></a></li>
                <li><a href="javascript:" target="_blank"><img src="/statics/jiangong/images/1481933920251021515.jpg"></a></li>
            </ul>
            <div class="serv_tit">便民服务</div>
            <ul class="serv_list">
                <li><span><img src="/statics/jiangong/images/weather_01.png"></span><a
                        target="_blank">天气查询</a></li>
                <li><span><img src="/statics/jiangong/images/weather_02.png"></span><a
                        target="_blank">空气质量</a></li>
                <li><span><img src="/statics/jiangong/images/weather_03.png"></span><a
                        target="_blank">万年历查询</a></li>
                <li><span><img src="/statics/jiangong/images/weather_04.png"></span><a
                        target="_blank">车牌查询</a></li>
                <li><span><img src="/statics/jiangong/images/weather_05.png"></span><a
                        target="_blank">公交线路查询</a></li>
                <li><span><img src="/statics/jiangong/images/weather_06.png"></span><a
                        target="_blank">火车时刻</a></li>
                <li><span><img src="/statics/jiangong/images/weather_07.png"></span><a
                        target="_blank">飞机航班</a></li>
                <li><span><img src="/statics/jiangong/images/weather_08.png"></span><a
                        target="_blank">英语词典</a></li>
            </ul>
        </div>
    </div>
    <div class="scrollcase">
        <div class="inner">
            <div class="scrollcase_tit">
                <h3><a href="{$CATEGORYS[156][url]}">{$CATEGORYS[156][catname]}</a></h3>
                <p class="pub_more"><a href="{$CATEGORYS[156][url]}">更多</a></p>
            </div>
            <div id="index_pictures">
                <ul id="scrollcase_list">
                    {pc:content action="lists" catid="156" num="100" order="listorder ASC,inputtime desc" page="$page"}
                    {loop $data $r}
                    <li>
                        <div><a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}"></a></div>
                        <p><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></p>
                    </li>
                    {/loop}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footlink inner">
        <div class="footlink_tit">
            <ul>
                {pc:content action="category" catid="205" num="10" siteid="$siteid" order="listorder ASC"}
                 {php $i= 0;}
                {loop $data $k=>$r}
                <li><a href="javascrpt:void(0);" {if $i<1} class="now" {/if}>{$r[catname]}</a></li>
                {php $i++}
                {/loop}
                {/pc}
                <!--<li><a href="javascrpt:void(0);">友情链接</a></li>-->
            </ul>
        </div>
        {pc:content action="category" catid="205" num="10" siteid="$siteid" order="listorder ASC"}
        {php $i= 0;}
        {loop $data $k=>$r}
        <div class="footlink_nr"  {if $i>0}  style="display:none;"{/if}>
            <ul>
                {pc:content action="lists" catid="$catid" num="30" order="listorder ASC,inputtime desc" page="$page"}
                {loop $data $r}
                <li>
                    <a href="{$r[link]}">{$r[title]}</a>
                </li>
                {/loop}
            </ul>
        </div>
        {php $i++}
        {/loop}




    </div>
    <div class="copy">
        <div>
            <p class="first">版权所有&nbsp;&copy;&nbsp;{$config[copyright]}&nbsp;&nbsp;&nbsp;{$config[beian]}&nbsp;
                &nbsp;<a target="_blank" href="#" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/statics/jiangong/images/beian.png" style=" vertical-align:middle;"/>&nbsp;{$config[police]}&nbsp;</a>
            </p>
            <p>电话:&nbsp;{$config[tel]}&nbsp;&nbsp;&nbsp;传真:&nbsp;{$config[fax]}&nbsp;&nbsp;&nbsp;E-mail:<a href="{$config[email]}">{$config[email]}</a></p>
            <p>地址:&nbsp;{$config[addr]}&nbsp;&nbsp;&nbsp;邮编:&nbsp;{$config[code]}</p>
        </div>
    </div>
</div>

<div id="v_box" class="v_box">
    <a id="shut" class="shut">×</a>
    <h3>视频播放</h3>
    <div id="video" class="overlay-video-v2-plug">
        <embed id="CuPlayerVideo_video_embed" src="JZminiPlayer.swf" type="application/x-shockwave-flash"
               allowscriptaccess="always" allowfullscreen="true" wmode="Transparent"
               flashvars="autoplay=true&file=cn.flv&img=start.jpg" height="430" width="650">
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="/statics/jiangong/js/index.js"></script>
