{template "content","head"}
{template "content","ad"}
<div class="container inner contanershadow">
    {template "content","news_nav"}
    <div class="content right">
        <div class="loc loc1">
            <h3 class="left">{$CATEGORYS[$catid][catname]}</h3>
            <ul class="loc_menu loc_menu_news right">
                <li><a href="/" class="home">首页</a></li>
                {pc:content action="category" catid="$cat" num="25" siteid="$siteid" order="listorder ASC"}
                {loop $data $k=>$r}
                <li><a href="{$r[url]}" {if $k==$parent} class="now" {/if}>{$r[catname]}</a></li>
                {/loop}
                {/pc}
            </ul>
        </div>

        <div class="com_con">
            <ul class="news_col">
                {pc:content action="lists" catid="$catid" num="10" order="listorder ASC,inputtime desc" page="$page"}
                {php $i=0}
                {loop $data $r}
                <li class="first">
                    <div class="tit"><a href="{$r[url]}" title=" {$r[title]}">
                        {$r[title]}</a><span>{date("Y-m-d",$r[inputtime])}</span></div>
                    <div class="txt">&nbsp;{$r[description]}
                        <a href="{$r[url]}">查看更多</a></div>
                    {php $i++}
                </li>
                  <?php if($i>1){break;} ?>
                {/loop}


                {php $i=0}
                {loop $data $r}
                {if $i>1}
                <li><a href="{$r[url]}" title=" {$r[title]}">{$r[title]}</a><span>{date("Y-m-d",$r[inputtime])}</span>
                </li>
                {/if}
                {php $i++}
                {/loop}
            </ul>

            <div class="page page1">
                {$pages}
            </div>
        </div>
    </div>
</div>
{template "content","foot"}