{template "content","head"}
{template "content","ad"}
<div class="container inner contanershadow">

    <div class="menu left">
        <h3>{$CATEGORYS[$cat][catname]}</h3>
        <ul class="menu_list">
            {pc:content action="category" catid="$parentid" num="25" siteid="$siteid" order="listorder ASC"}
            {loop $data $k=>$r}
            <li><a href="{$r[url]}" {if $k==$catid} class="now"{/if}>{$r[catname]}</a></li>
            {/loop}
            {/pc}
        </ul>
    </div>
    <div class="content right">
        <div class="loc loc1">
        <h3 class="left">{$CATEGORYS[$parentid][catname]}</h3>
        <ul class="loc_menu right">
            <li><a href="/" class="home">首页</a></li>
            {pc:content action="category" catid="$cat" num="25" siteid="$siteid" order="listorder ASC"}
                {loop $data $k=>$r}
                     <li {if $r[catid]!=$parentid}class="last"{/if}><a href="{$r[url]}" {if $r[catid] == $parentid} class="now"  {/if}>{$r[catname]}</a></li>
                 {/loop}
            {/pc}
        </ul>
        </div>
        <div class="com_con">
            <ul class="project">
                {pc:content action="lists" catid="$catid" num="12" order="listorder ASC,inputtime desc" page="$page"}
                {loop $data $r}
                <li>
                    <div class="pic"><a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}"></a></div>
                    <div class="txt"><a href="{$r[url]}"><p title="{$r[title]}">{$r[title]}</p></a></div>
                </li>
                {/loop}
            </ul>

            <div class="page">
                {$pages}
            </div>
        </div>
    </div>
</div>
{template "content","foot"}
<script>
    $(function () {
                for (var i = 0; i < $(".project li").length; i++) {
                    if ((i + 1) % 4 == 0) {
                        $(".project li").eq(i).css("margin-right", "0");
                    } else {
                    }

                }
            }
    )
    $("a").focus(function () {
        this.blur();
    });
</script>