{template "content","head"}
{template "content","ad"}
<div class="container inner contanershadow">
    {template "content","nav"}
    <div class="content right">
        {template "content","position"}
        <div class="com_con">
            <ul class="project project_zy">
                {pc:content action="lists" catid="$catid" num="12" order="listorder ASC,inputtime desc" page="$page"}
                {loop $data $r}
                <li>
                    <div class="pic"><a href="{$r[url]}" title="{$r[title]}"><img src="{$r[thumb]}"></a></div>
                    <div class="txt"><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></div>
                </li>
                {/loop}
            </ul>

            <div class="page">
                {$pages}
            </div>
        </div>
    </div>
</div>
{template "content","foot"}
<script>
    $(function () {
                for (var i = 0; i < $(".project li").length; i++) {
                    if ((i + 1) % 4 == 0) {
                        $(".project li").eq(i).css("margin-right", "0");
                    }
                }
            }
    )
</script>