{template "content","head"}
{template "content","ad"}
<div class="container inner contanershadow">
    <div class="menu left">
        <h3>搜索结果</h3>

    </div>
    <div class="content right">
        <div class="loc loc1">
            <h3 class="left">搜索结果</h3>

        </div>

        <div class="com_con">
            <ul class="news_col">
                {loop $datas $i $r}
                <li><a href="{$r[url]}" title=" {$r[title]}">{$r[title]}</a><span>{date("Y-m-d",$r[inputtime])}</span></li>
                {/loop}
            </ul>
            <div class="page page1">
                {$pages}
            </div>
        </div>
    </div>
</div>
{template "content","foot"}